doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='index.css' rel='stylesheet' media='all')
  link(href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet' media='all')
  //link(href='/tailwind.css' rel='stylesheet' media='all')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
  title News app
body
  .flex.flex-col.h-screen
    include ../components/header.pug

    #content
      block content

    include ../components/footer.pug

  script(src="index.js")