.search.flex
  label.inline-flex.items-center.text-sm.font-medium.text-blue-900.mr-4(for='search') Search:
  input#search.w-full.py-2.px-3.border.border-gray-300.bg-white.rounded-md.shadow-sm(type='text' name='search' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')

  .ml-4.flex.items-end
    button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-medium.rounded-md.text-white.bg-blue-800(type='submit' class='hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
      | Search

